:root {
  --free-space: 16px;
}

.toolbar {
  margin-bottom: var(--free-space);
}

th,
td {
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
}

td:nth-child(2):hover {
  cursor: pointer;
}

.view-frame {
  padding: var(--free-space);
}

modal {
  display: none;
}

.modal {
  display: block;
  position: relative;
  margin: var(--free-space);
}

.modal-body {
  padding: var(--free-space);
  background: #fff;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal-background::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '\A';
  position: fixed;
  background: black;
  opacity: 0.6;
}

body.modal-open {
  overflow: hidden;
}

.form-signin {
  max-width: 330px;
  padding: 16px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: var(--free-space);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: var(--free-space);
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='text'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: var(--free-space);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
