<div class="toolbar row">
  <div class="col-md-6">
    <input
      id="search-employee"
      class="form-control"
      type="text"
      placeholder="Search for employee"
      ng-model="search.fullname"
    />
  </div>

  <div class="col-md-4">
    <select
      class="form-control"
      id="select-department"
      ng-model="search.department"
      ng-options="department for department in departments"
    ></select>
  </div>

  <div class="col-md-2">
    <button
      type="button"
      ng-click="goToEmployeeCreate()"
      class="btn btn-primary btn-block"
    >
      Add
    </button>
  </div>
</div>

<table class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Employee</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | filter:search">
        <td>{{ $index + 1 }}</td>
        <td ng-click="goToEmployeeDetail(employee.employeeid)">
          {{ employee.fullname }}
        </td>
        <td>{{ employee.department }}</td>
        <td>
          <a ng-click="onEdit(employee.employeeid)" style="cursor: pointer"
            >Edit</a
          >
        </td>
        <td>
          <a ng-click="onDelete(employee.employeeid)" style="cursor: pointer"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</table>

<modal id="modal-confirm">
  <strong>
    <p>Are you sure?</p>
  </strong>
  <p>You realy wana delete this perfect record???</p>
  <button
    type="button"
    class="btn btn-default"
    ng-click="closeModal('modal-confirm');"
  >
    Cancel
  </button>
  <button type="button" class="btn btn-danger" ng-click="confirmDelete()">
    Delete
  </button>
</modal>
